.main-btn{
    width: 32;
    height: 32;
    border-radius: 5px;
    border: none;
    background: rgb(45 47 49);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.main-btn:hover{
    cursor: pointer;
    background: rgb(34, 36, 37);
}